@charset "UTF-8";
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveToBottom {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveToBottom-2 {
  0% {
    transform: translateY(-20rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes letters-animation {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rollToRight {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes rotate-animation {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes scaleFromTop {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes fallWithRebound {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
@keyframes flip-animation {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes shake-animation {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
@keyframes scaleInCenter {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideInBlurredRight {
  0% {
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
.header {
  animation: moveInLeft 1.5s ease-in 0.2s both;
  background-color: #fabd00;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 18vh;
  border-radius: 0.25rem;
  position: relative;
  z-index: 1; /* Para asegurar que el header no quede detrás de otros elementos */
}
@media only screen and (max-width: 1100px) {
  .header {
    height: 45vh;
    font-size: 90%;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1100px) {
  .header > * {
    margin-top: 1rem;
  }
}
.header__logo-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: row;
  align-items: center;
  position: relative;
  gap: 0.5vw;
  transform: scale(1.2);
}
@media only screen and (max-width: 1100px) {
  .header__logo-container {
    display: flex;
    align-items: center;
    gap: 0.2vw;
  }
}
.header__logo {
  animation: rollToRight 1s ease-out both;
  animation-delay: 1.5s;
  width: 10vh;
  height: 10vh;
  border-radius: 100px;
  margin-left: 2rem;
}
@media only screen and (max-width: 1100px) {
  .header__logo {
    width: 5rem;
    height: 5rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 3rem;
  }
}
.header__name {
  animation: letters-animation 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 1.5s;
  text-transform: uppercase;
}
@media only screen and (max-width: 1100px) {
  .header__name {
    margin-left: 0;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
}
.header__search-bar {
  width: 40%;
  animation: moveToBottom 1.3s ease both;
  animation-delay: 1.5s;
}
@media only screen and (max-width: 1100px) {
  .header__search-bar {
    width: 70%;
  }
}
.header__search-bar__input {
  background-color: white;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  transition: all 0.1s ease;
}
.header__search-bar__input:hover, .header__search-bar__input:focus {
  background-color: whitesmoke;
}
.header__search-bar__input:focus {
  outline: 1px black solid;
}
.header__search-bar__input::placeholder {
  text-transform: uppercase;
}
.header__search-bar__search-button {
  display: none;
}
.header__profile-box {
  animation: rotate-animation 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.5s;
  height: 16vh;
  display: grid;
  grid-template-rows: 80% 20%;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  translate: all 0.3s ease;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .header__profile-box {
    margin-left: 1rem;
    margin-right: 1.2rem;
    font-size: 0.9rem;
    text-transform: uppercase;
  }
}
.header__profile-box__image {
  margin-top: -3vh;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
}
.header__profile-box__username {
  margin-top: -8vh;
  font-weight: 300;
}

/* Desplegable */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  max-height: 300px;
  overflow-y: auto; /* Agrega scroll si el contenido es mayor */
  z-index: 9999; /* Asegura que el desplegable esté por encima de todo */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}

/* Estilo para los elementos del desplegable */
.dropdown-item {
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
  transition: background-color 0.3s ease;
}
.dropdown-item:hover {
  background-color: #f5f5f5;
}

.menu__list {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0.5rem;
  font-size: 91%;
  list-style: none;
}
.menu__list a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
@media only screen and (max-width: 1100px) {
  .menu__list a {
    font-size: 50%;
  }
}
.menu__option, .menu__option__selected {
  animation: scaleFromTop 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  padding: 2rem;
  text-align: center;
  border: 1px black solid;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .menu__option, .menu__option__selected {
    font-size: 150%;
  }
}
.menu__option {
  background-color: #fabd00;
}
.menu__option:hover {
  background-color: black;
  color: #fabd00;
}
.menu__option__selected {
  background-color: #f4f4f9;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.3rem;
  position: relative;
}
.form-container__form {
  text-align: center;
  width: 70%;
  background-color: black;
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 4px;
}
.form-container__form__title {
  animation: letters-animation 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
.form-container__form__button-exit, .form-container__form__button-submit, .form-container__form__image-container__label {
  cursor: pointer;
  animation: flip-animation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.form-container__form__button-exit {
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.form-container__form__button-exit:hover, .form-container__form__button-exit:focus {
  box-shadow: inset -3.5em 0 0 0 white, inset 3.5em 0 0 0 white;
  color: black;
  background-color: white;
  border-color: white;
}
.form-container__form__button-exit:active {
  transform: scale(0.95);
}
.form-container__form__button-submit {
  position: relative;
  display: inline-block;
  padding: 12px 27px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  background: white;
  border: 0;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}
.form-container__form__button-submit:hover {
  color: black;
}
.form-container__form__button-submit span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #fabd00;
  transform: translateY(150%);
  border-radius: 50%;
  transition: 0.5s;
  z-index: -1;
}
.form-container__form__button-submit span:nth-child(1) {
  left: 0;
  transition-delay: 0.1s;
}
.form-container__form__button-submit span:nth-child(2) {
  left: 25%;
  transition-delay: 0.2s;
}
.form-container__form__button-submit span:nth-child(3) {
  left: 50%;
  transition-delay: 0.3s;
}
.form-container__form__button-submit span:nth-child(4) {
  left: 75%;
  transition-delay: 0.4s;
}
.form-container__form__button-submit:hover span {
  transform: translateY(0) scale(2);
}
.form-container__form__image-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}
.form-container__form__image-container img {
  animation: slideInBlurredRight 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  background-color: white;
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  border: 6px solid white;
}
.form-container__form__image-container__label {
  color: black;
  background-color: white;
  padding: 6px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px black solid;
}
.form-container__form__image-container__label:hover {
  letter-spacing: 0.1rem;
}
.form-container__form__image-container input {
  display: none;
}
.form-container__form input {
  background-color: whitesmoke;
  animation: fallWithRebound 1.5s both;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  width: 40%;
  transition: all 0.3s ease;
  outline: 0;
}
.form-container__form input:focus {
  outline: 3px rgb(20, 173, 20) solid;
}
.form-container__form input::placeholder {
  font-size: 95%;
  color: black;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.form-container__form-error {
  animation: shake-animation 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  align-self: flex-start;
  margin-left: 5vw;
}
.form-container__message {
  animation: scaleInCenter 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-weight: 400;
  font-size: 1.1rem;
  text-decoration: underline;
}

.slider-btn {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  color: #fabd00;
  background-color: white;
  border: none;
  padding: 1rem;
  border-radius: 50px;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  cursor: pointer;
  z-index: 999; /* Asegura que se superpongan a otros elementos */
}
.slider-btn:hover {
  background-color: #fabd00;
  color: white;
}

.button-left {
  left: 0.1rem;
}

.button-right {
  right: 0.1rem;
}

.arrow {
  width: 100%;
  height: 100%;
}

.provincias {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.provincias__titulo {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.provincias__border {
  border-bottom-width: 2px;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.provincias__padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.provincias__button {
  padding-bottom: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (min-width: 768px) {
  .provincias__button {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.provincias__button:hover {
  color: #6b7280;
}
.provincias__border {
  border-bottom-width: 2px;
  border-bottom-color: #1d4ed8;
}

.card {
  height: 42rem;
}

.titulo {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  font-size: 1.6rem;
  color: red;
}
.titulo::before, .titulo::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}

.imagenxd {
  border-radius: 20px;
}

.buttonCard {
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #e13236;
  border: 2px solid #e13236;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.buttonCard:hover, .buttonCard:focus {
  box-shadow: inset -3.5em 0 0 0 white, inset 3.5em 0 0 0 white;
  color: #e13236;
  background-color: white;
  border-color: white;
}
.buttonCard:active {
  transform: scale(0.95);
}

.search-result__content {
  margin-top: 20px;
}
.search-result__content .back-button {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #e13236;
  border: 2px solid #e13236;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.search-result__content .back-button:hover, .search-result__content .back-button:focus {
  box-shadow: inset -3.5em 0 0 0 whitesmoke, inset 3.5em 0 0 0 whitesmoke;
  color: #e13236;
  background-color: whitesmoke;
  border-color: #e13236;
}
.search-result__content .back-button:active {
  transform: scale(0.95);
}
.search-result__content > div {
  overflow: hidden; /* Manejar flotación de la imagen */
}
.search-result__content > div img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 50%;
  max-width: 700px;
  height: auto;
  border-radius: 10px;
}
.search-result__content > div h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.search-result__content > div p {
  margin-bottom: 10px;
  line-height: 1.5;
}
.search-result__content > div p strong {
  font-weight: bold;
}

/* Responsividad */
@media (max-width: 1100px) {
  .search-result__content .back-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .search-result__content > div img {
    float: none; /* Quitar flotación en pantallas pequeñas */
    display: block;
    margin: 0 auto 20px auto; /* Centrar y dar espacio inferior */
    width: 100%;
    max-width: 100%; /* Forzar que la imagen se ajuste al ancho disponible */
  }
}
.tocho {
  padding: 20px;
  background-color: #f4f4f9;
}
.tocho .tocho-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 1px solid #b0bec5;
  padding-bottom: 20px;
}
.tocho .tocho-section--reverse {
  flex-direction: row-reverse;
}
.tocho .tocho-section__text {
  flex: 1;
  padding: 0 20px;
}
.tocho .tocho-section__text h2 {
  font-size: 1.8rem;
  color: #2a9d8f;
  margin-bottom: 10px;
}
.tocho .tocho-section__text p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}
.tocho .tocho-section__image {
  flex: 1;
  text-align: center;
  padding: 10px;
}
.tocho .tocho-section__image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.tocho .tocho-section__image img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .tocho .tocho-section {
    flex-direction: column;
  }
  .tocho .tocho-section--reverse {
    flex-direction: column;
  }
  .tocho .tocho-section__text {
    padding: 10px;
    text-align: center;
  }
  .tocho .tocho-section__text h2 {
    font-size: 1.5rem;
  }
  .tocho .tocho-section__text p {
    font-size: 0.95rem;
  }
  .tocho .tocho-section__image {
    padding: 5px;
  }
  .tocho .tocho-section__image img {
    max-width: 90%;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Centrar los divs verticalmente */
  padding: 1rem;
  background-color: #000;
  color: #fff;
  margin: 0; /* Elimina márgenes externos */
  padding: 0; /* Elimina paddings externos */
  width: 100%; /* Asegurar que ocupe todo el ancho */
  box-sizing: border-box; /* Incluye paddings en el tamaño total */
  position: relative; /* Esto se usa si necesitas posicionarlo explícitamente */
  bottom: 0;
  /* Media Queries */
}
.footer__social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinear verticalmente */
  align-items: flex-start;
  width: 30%; /* Mantener el ancho consistente con los enlaces */
  padding-left: 4rem;
}
.footer__social-icons .footer__social-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem; /* Espacio entre el título y los iconos */
}
.footer__social-icons .footer__social-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas para los iconos */
  gap: 1rem; /* Espacio entre iconos */
}
.footer__social-icons .footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.footer__social-icons .footer__icon .footer__icon-img {
  width: 100%;
  height: auto;
}
.footer__social-icons .footer__icon:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}
.footer__branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centrar contenido */
  text-align: center;
  width: 40%; /* Más ancho para el branding en el centro */
}
.footer__branding .footer__title-image {
  max-width: 200px;
  margin-bottom: 10px;
}
.footer__branding .footer__logo {
  border-radius: 100px;
  max-width: 100px;
  margin: 10px 0;
}
.footer__branding .footer__rights {
  font-size: 0.9rem;
  margin-top: 20px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinear verticalmente */
  align-items: flex-end; /* Alinear a la derecha */
  width: 30%; /* Mantener el ancho consistente con los iconos */
  padding-right: 4rem;
  margin-top: 2px;
}
.footer__links .footer__link {
  margin: 8px 0;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem; /* Texto más grande */
  transition: color 0.3s ease;
}
.footer__links .footer__link:hover {
  color: #fabd00;
}
@media only screen and (max-width: 1100px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
  .footer__social-icons, .footer__branding, .footer__links {
    width: 100%; /* Cada div ocupa el 100% */
    padding: 0;
    margin: 1rem 0; /* Espaciado entre los bloques */
  }
  .footer__social-icons {
    align-items: center; /* Alinear al centro los iconos */
  }
  .footer__social-icons .footer__social-title {
    font-size: 1.2rem; /* Reducir tamaño del título */
  }
  .footer__social-icons .footer__icon {
    width: 45px;
    height: 45px; /* Reducir tamaño de los iconos */
  }
  .footer__social-icons .footer__icon .footer__icon-img {
    width: 100%;
    height: auto;
  }
  .footer__branding .footer__title-image {
    max-width: 150px; /* Reducir tamaño de la imagen */
  }
  .footer__branding .footer__logo {
    max-width: 80px; /* Reducir tamaño del logo */
  }
  .footer__branding .footer__rights {
    font-size: 0.8rem; /* Reducir tamaño del texto */
  }
  .footer__links {
    align-items: center; /* Centrar los enlaces */
  }
  .footer__links .footer__link {
    font-size: 1.2rem; /* Reducir tamaño de los enlaces */
  }
}

.acordeon .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
.acordeon__headline {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.acordeon__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.acordeon__item {
  flex: 1;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 300px;
  cursor: pointer;
  transition: flex 0.3s ease-in-out;
  /* Asegúrate de que estos estilos coincidan con el JSX */
}
.acordeon__item--active {
  flex: 3; /* Aumenta el tamaño del elemento activo */
}
.acordeon__item:not(.acordeon__item--active) {
  flex: 1; /* Reduce el tamaño de los no activos */
}
.acordeon__item:hover {
  flex: 3;
}
.acordeon__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Oscurecer el fondo */
  transition: opacity 0.3s ease;
}
.acordeon__item--active::before {
  opacity: 0; /* Quita el oscurecimiento del fondo en el elemento activo */
}
.acordeon__item__content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  z-index: 2;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}
.acordeon__item__title {
  font-size: 1.8rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 1rem;
}
.acordeon__item__description {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
}
.acordeon__item__button {
  background-color: #d6001c;
  color: #fff;
  border: 2px solid #d6001c;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.acordeon__item__button:hover {
  background-color: transparent;
  border-color: yellow;
  color: yellow;
}

.bull-gif-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}
.bull-gif-container__bull-gif {
  width: 100%;
}

:root {
  --swiper-theme-color: white !important;
}

.container-slider {
  height: 39rem;
  overflow: hidden;
  position: relative;
  z-index: 0; /* Asegura que el slider no esté por encima del desplegable */
}
@media only screen and (max-width: 1100px) {
  .container-slider {
    z-index: 0; /* Mantiene un z-index bajo para que el slider no se superponga */
  }
}

.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}

.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

html {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif, "Courier New", Courier, monospace;
}

/*# sourceMappingURL=style.css.map */
