#ribbon {
     background-image:url(./grass.jpg) ;

}
#ribbon::after{
     content: '';
     background-color: transparent;
     display: block;
     height: 20px;
     width: 50%;
     margin: 0 auto;
     position: relative;
     left: auto;
     margin-top: -40px;
}

#birthday{
     background-color: rgb(43, 104, 45);
     position: relative;
     margin-top: -20px;
     z-index: 10;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#birthday img{
     position: relative;
     margin-top: -55px;
}

.text-shadow{
     text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}

#separator-ribbon{
     width: 100%;
     overflow: hidden;
     position: relative;
     z-index: 2;
}

#separator-ribbon .content{
     widows: 150%;
     height: 150px;
     margin-left: -25%;
     border-bottom-left-radius: 50%;
     border-bottom-right-radius: 50%;
}

#body{
     height: 100%;
    background-repeat: no-repeat;
    background: url(./bgindex.jpg) no-repeat center center fixed;
    background-size: 100% 100%;

}

#scroll::-webkit-scrollbar {
     width: 15px;
     background: rgb(237, 195, 7) ;
}

#scroll::-webkit-scrollbar-thumb{
     background: rgb(65, 6, 84) ;
     border-radius: 7px;
}



.animado {
     opacity: 0;
     transition: all 0.5s;
}

.webo{
     width:20%;
     height:20%;
}