@charset "UTF-8";
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveToBottom {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveToBottom-2 {
  0% {
    transform: translateY(-20rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes letters-animation {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rollToRight {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes rotate-animation {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes fallWithRebound {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
@keyframes flip-animation {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes shake-animation {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
.header {
  animation: moveInLeft 1.5s ease-in 0.2s both;
  background-color: #fabd00;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  border-radius: 0.25rem;
  position: relative;
  z-index: 1; /* Para asegurar que el header no quede detrás de otros elementos */
}
@media only screen and (max-width: 1100px) {
  .header {
    height: 45vh;
    font-size: 30%;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1100px) {
  .header .header > * {
    margin-top: 1rem;
  }
}
.header__logo-container {
  display: flex;
  flex-direction: row;
  position: relative;
  transform: scale(1.2);
}
@media only screen and (max-width: 1100px) {
  .header__logo-container {
    display: flex;
    align-items: center;
  }
}
.header__logo {
  animation: rollToRight 1s ease-out both;
  animation-delay: 1.5s;
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
  margin-top: 0.2rem;
  margin-left: 2rem;
}
@media only screen and (max-width: 1100px) {
  .header__logo {
    width: 4rem;
    height: 4rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 3rem;
  }
}
.header__name {
  animation: letters-animation 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 1.5s;
  margin-left: 1rem;
  margin-top: 2.6rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 1100px) {
  .header__name {
    margin-left: 0;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
}
.header__search-bar {
  animation: moveToBottom 1.3s ease both;
  animation-delay: 1.5s;
  width: 35%;
  display: flex;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 1100px) {
  .header__search-bar {
    transform: scale(0.9);
    width: 85%;
  }
  .header__search-bar:hover {
    width: 100%;
    transition: all 1s ease;
  }
}
.header__search-bar__input {
  background-color: white;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
}
.header__search-bar__search-button {
  display: none;
}
.header__profile-box {
  animation: rotate-animation 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.5s;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .header__profile-box {
    margin-left: 1rem;
    margin-right: 1.2rem;
    font-size: 0.9rem;
    text-transform: uppercase;
  }
  .header__profile-box:hover {
    opacity: 1;
  }
}
.header__profile-box:hover {
  opacity: 0.8;
}
.header__profile-box__image {
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
}
.header__profile-box__username {
  font-weight: 300;
}

/* Desplegable */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  max-height: 300px;
  overflow-y: auto; /* Agrega scroll si el contenido es mayor */
  z-index: 9999; /* Asegura que el desplegable esté por encima de todo */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}

/* Estilo para los elementos del desplegable */
.dropdown-item {
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
  transition: background-color 0.3s ease;
}
.dropdown-item:hover {
  background-color: #f5f5f5;
}

.login-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
.login-container__login-form {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  animation: moveToBottom-2 2s ease-in;
  animation-fill-mode: both;
  background-color: #e13236;
  border: 2px black solid;
  padding: 1.5rem;
}
.login-container__login-form__title {
  animation: letters-animation 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 2.1s;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.3rem;
}
.login-container__login-form__button-exit {
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #e13236;
  border: 2px solid #e13236;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.login-container__login-form__button-exit:hover, .login-container__login-form__button-exit:focus {
  box-shadow: inset -3.5em 0 0 0 white, inset 3.5em 0 0 0 white;
  color: #e13236;
  background-color: white;
  border-color: white;
}
.login-container__login-form__button-exit:active {
  transform: scale(0.95);
}
.login-container__login-form__button-submit {
  position: relative;
  display: inline-block;
  padding: 12px 27px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  background: white;
  border: 0;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}
.login-container__login-form__button-submit:hover {
  color: black;
}
.login-container__login-form__button-submit span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #fabd00;
  transform: translateY(150%);
  border-radius: 50%;
  transition: 0.5s;
  z-index: -1;
}
.login-container__login-form__button-submit span:nth-child(1) {
  left: 0;
  transition-delay: 0.1s;
}
.login-container__login-form__button-submit span:nth-child(2) {
  left: 25%;
  transition-delay: 0.2s;
}
.login-container__login-form__button-submit span:nth-child(3) {
  left: 50%;
  transition-delay: 0.3s;
}
.login-container__login-form__button-submit span:nth-child(4) {
  left: 75%;
  transition-delay: 0.4s;
}
.login-container__login-form__button-submit:hover span {
  transform: translateY(0) scale(2);
}
.login-container__login-form input {
  animation: fallWithRebound 1.5s both;
  animation-delay: 2s;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  width: 40%;
  transition: all 0.3s ease;
}
.login-container__login-form input:focus {
  width: 45%;
}
.login-container__login-form input::placeholder {
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button {
  cursor: pointer;
  animation: flip-animation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2s;
}

.login-error {
  animation: shake-animation 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  opacity: 1;
  transition-delay: 1s;
  color: black;
  text-align: center;
}
.login-error::after {
  opacity: 0;
}

.menu {
  margin-top: -5vh;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
.menu__list {
  list-style: none;
}
@media only screen and (max-width: 1100px) {
  .menu__list {
    z-index: 10000;
  }
}
.menu__option {
  background-color: #fabd00;
  padding: 2rem;
  text-align: center;
  border-bottom: 1px black solid;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.menu__option:hover {
  background-color: #fabd00;
  color: black;
  transform: translateY(-2px);
}

.slider-btn {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  color: #fabd00;
  background-color: white;
  border: none;
  padding: 1rem;
  border-radius: 50px;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  cursor: pointer;
  z-index: 999; /* Asegura que se superpongan a otros elementos */
}
.slider-btn:hover {
  background-color: #fabd00;
  color: white;
}

.button-left {
  left: 0.1rem;
}

.button-right {
  right: 0.1rem;
}

.arrow {
  width: 100%;
  height: 100%;
}

.search-result__content {
  margin-top: 20px;
}
.search-result__content .back-button {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #e13236;
  border: 2px solid #e13236;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.search-result__content .back-button:hover, .search-result__content .back-button:focus {
  box-shadow: inset -3.5em 0 0 0 whitesmoke, inset 3.5em 0 0 0 whitesmoke;
  color: #e13236;
  background-color: whitesmoke;
  border-color: #e13236;
}
.search-result__content .back-button:active {
  transform: scale(0.95);
}
.search-result__content > div {
  overflow: hidden; /* Manejar flotación de la imagen */
}
.search-result__content > div img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 50%;
  max-width: 700px;
  height: auto;
  border-radius: 10px;
}
.search-result__content > div h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.search-result__content > div p {
  margin-bottom: 10px;
  line-height: 1.5;
}
.search-result__content > div p strong {
  font-weight: bold;
}

/* Responsividad */
@media (max-width: 1100px) {
  .search-result__content .back-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .search-result__content > div img {
    float: none; /* Quitar flotación en pantallas pequeñas */
    display: block;
    margin: 0 auto 20px auto; /* Centrar y dar espacio inferior */
    width: 100%;
    max-width: 100%; /* Forzar que la imagen se ajuste al ancho disponible */
  }
}
.tocho {
  padding: 20px;
}
.tocho .tocho-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.tocho .tocho-section--reverse {
  flex-direction: row-reverse;
}
.tocho .tocho-section__text {
  flex: 1;
  padding: 0 20px;
}
.tocho .tocho-section__image {
  flex: 1;
  text-align: center;
}
.tocho .tocho-section__image img {
  background-color: #f0f0f0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #000;
  color: #fff;
}
.footer__social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Alinear a la izquierda */
  width: 30%;
  padding-left: 4rem; /* Más espacio a la izquierda */
}
.footer__social-icons .footer__icon {
  display: inline-block;
  margin: 3px 0; /* Separación vertical */
}
.footer__social-icons .footer__icon .footer__icon-img {
  width: 55px; /* Iconos más grandes */
  height: 55px;
}
.footer__social-icons .footer__icon:hover .footer__icon-img {
  transform: scale(1.2); /* Aumenta ligeramente el tamaño */
  filter: brightness(1.2); /* Hace el icono un poco más claro */
}
.footer__branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centrar contenido */
  text-align: center;
  width: 40%;
}
.footer__branding .footer__title-image {
  max-width: 400px; /* Ajustar tamaño */
  margin-bottom: 10px; /* Separar de los elementos inferiores */
}
.footer__branding .footer__logo {
  max-width: 200px; /* Ajustar tamaño */
  margin: 10px 0; /* Separación vertical */
}
.footer__branding .footer__rights {
  font-size: 0.9rem;
  margin-top: 20px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; /* Alinear a la derecha */
  width: 30%;
  padding-right: 4rem; /* Más espacio a la derecha */
}
.footer__links .footer__link {
  margin: 8px 0; /* Espacio uniforme entre los enlaces */
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem; /* Texto más grande */
  transition: color 0.3s ease;
}
.footer__links .footer__link:hover {
  color: #fabd00;
}

.container-slider {
  margin-top: 3rem;
  width: 100%;
  height: 39rem;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  z-index: 0; /* Asegura que el slider no esté por encima del desplegable */
}
@media only screen and (max-width: 1100px) {
  .container-slider {
    z-index: 0; /* Mantiene un z-index bajo para que el slider no se superponga */
  }
}
.container-slider__carousel {
  display: flex;
  width: 100%;
  height: 100%;
}

.item-slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: auto;
}
.item-slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.infoItem {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 600;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  transition: all 2s;
}

.subtitle {
  font-size: 1rem;
}

.botonItem {
  background-color: rgba(0, 0, 0, 0.65);
  width: 8rem;
  height: 3rem;
  border-radius: 2rem;
  transform: translateY(0);
}

.linkItem {
  color: white;
}

html {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  background-color: whitesmoke;
}

/*# sourceMappingURL=style.css.map */
