@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveToBottom {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }    
}

  @keyframes letters-animation {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
  }

  @keyframes rollToRight {
    0% {
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
  }

  @keyframes rotate-animation {
    0% {
        transform: rotate(-360deg);
        opacity: 0;
      }

      100% {
        transform: rotate(0);
        opacity: 1;
      }
    }

    @keyframes scaleFromTop {
     0% {
        transform: scaleY(0);
        transform-origin: 100% 0%;
        opacity: 1;
      }
    100% {
         transform: scaleY(1);
         transform-origin: 100% 0%;
         opacity: 1;
      }
  }
  
  @keyframes fallWithRebound {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }

    38% {
     
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
  }

  @keyframes flip-animation {
    0% {
     
        transform: rotateX(80deg);
        opacity: 0;
    }
    
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
  }

  @keyframes shake-animation {
    0%,100% {
        transform: translateX(0);
    }

    10%,30%,50%,70% {
        transform: translateX(-10px);
    }

    20%,40%,60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(8px);
    }
    90% {
        transform: translateX(-8px);
    }
  }
  @keyframes scaleInCenter {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
     
        transform: scale(1);
        opacity: 1;
    }
  }
  @keyframes slideInBlurredRight {
    0% {
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform-origin: 0% 50%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
  }
  