$color-white:white;
$color-white-smoke:whitesmoke;
$color-white-dark: #f4f4f9;
$color-red:red;
$color-black:black;
$color-red-dark:#e13236;
$color-yellow: #fabd00;
$color-yellow-light: #fabd00;
$color-green: #2a9d8f;
$color-green-dark:rgb(20, 173, 20);
$dark-blue-color: #264653;
$color-gray-light: #b0bec5; // Color más claro para el borde (ajustado manualmente)
$color-gray-dark: #333;
$color-blue-light:rgb(0, 132, 255);
$max-width:1100px;