.header{
    animation: moveInLeft 1.5s ease-in 0.2s;
    animation-fill-mode: both;
    background-color: $color-yellow;
    display: flex;
    justify-content:space-around;
    align-items:center;
    height: 18vh;

    &__logo-container{
        
        display:flex;
        flex-direction: row;
        position:relative;
        
    }

    &__logo{
        width: 6rem;
        height: 6rem;
        border-radius: 100px;
        margin-top:0.2rem;
        margin-left:2rem;
    }
    &__name{
        margin-left:1rem;
        margin-top:2.6rem;
        text-transform:uppercase;
    }

    &__search-bar{
        animation: moveToBottom 2s ease-in 0.5s;
        animation-fill-mode: both;
        flex-grow:0.5;
        display:flex;
        align-items: center;
        transition: all 0.4s ease-out;
        &__input{
            background-color: $color-white;
            padding: 0.7rem 2rem;
            border-radius: 0.5rem;
            border:none;
            margin-right: -2rem;
            width: 90%;
        }
        &__search-button{
            background-color: $color-white;
            border: none;
            &:focus{
                transform: translateY(0.2rem);
            }
        }
    }
    &__profile-box{
        
        margin-left:3rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        opacity:1;
        transition: all 0.3s ease;
        &__image{
            width:2rem;
            height:2rem;
            border-radius:0.3rem;
        }

        &__username{
                font-weight:300;
        }

        &:hover{
            opacity:0.8;
        }
    }

}