
.login-container{
    position: absolute;
    height:100%;
    width:100%;
    z-index:1000;
    &__login-form{
        text-align: center;
        width:70%;
        margin:0 auto;
        animation: moveToBottom-2 2s ease-in;
        animation-fill-mode: both;
        background-color: #e13236;
        border: 2px black solid;
        padding: 1.5rem;
        &__button-exit{
            border-radius:200px;
            padding:8px;
            border:none;
        }
    }
}

.login-error{
    color:$color-red;
}