
.login-container{
    position: absolute;
    height:100%;
    width:100%;
    z-index:1000;
    &__login-form{
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        width:70%;
        margin:0 auto;
        animation: moveToBottom-2 2s ease-in;
        animation-fill-mode: both;
        background-color: #e13236;
        border: 2px black solid;
        padding: 1.5rem;
        &__title{
            text-transform: uppercase;
        }

        &__button-exit,&__button-submit{
            border-radius: 2px;
            text-transform:uppercase;
            font-size:0.8rem;
            padding: 10px;
            border: none;
            border:1px black solid;
            transition: all 0.3s ease-in-out;
        
            &:hover{
                transform:translateY(-2px);
            }
        }
    }

.login-error{
    color:$color-white;
    text-align:center;
}
}