.search-result {
    &__content {
      margin-top: 20px;
  
      .back-button {
        margin-top: 20px; 
        margin-bottom: 20px; 
      }
  
      > div {
        overflow: hidden; /* Manejar flotación de la imagen */
  
        img {
          float: left; 
          margin-right: 20px; 
          margin-bottom: 20px; 
          width: 50%; 
          max-width: 700px; 
          height: auto; 
          border-radius: 10px; 
        }
  
        h2 {
          font-size: 1.8rem;
          margin-bottom: 10px;
        }
  
        p {
          margin-bottom: 10px;
          line-height: 1.5;
  
          strong {
            font-weight: bold;
          }
        }
      }
    }
  }
  
  /* Responsividad */
  @media (max-width: $max-width) {
    .search-result__content {
      .back-button {
        margin-top: 20px;
        margin-bottom: 20px;
      }
  
      > div {
        img {
          float: none; /* Quitar flotación en pantallas pequeñas */
          display: block;
          margin: 0 auto 20px auto; /* Centrar y dar espacio inferior */
          width: 100%; 
          max-width: 100%; /* Forzar que la imagen se ajuste al ancho disponible */
        }
      }
    }
  }
  