
.login-container{
    position: absolute;
    display:block;
    text-align: center;
    background-color: $color-white;
    opacity:0.3;
    width:100vh;
    height:100vh;
    &__login-form{
        background-color: rgb(240, 69, 69);
        border:2px black solid;
    }
}

.login-error{
    color:red;
}