.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.3rem;
  position: relative;

  &__form {
    text-align: center;
    width: 70%;
    background-color: $color-black;
    padding: 1.5rem;
    margin:2rem;
    border-radius: 4px;
    @media only screen and (max-width: $max-width) {
      width:90%;
      font-size: 90%;
    }
    &__title {
      animation: letters-animation 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      text-transform: uppercase;
      color:$color-white;
      letter-spacing: 0.1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:2.3rem;
      margin-bottom: 1rem;
    }

    &__button-exit,&__button-submit, &__image-container__label{
      cursor: pointer;
      animation: flip-animation 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &__button-exit {
      padding: 12px 30px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: $color-white; 
      background-color: $color-black;  
      border: 2px solid $color-black;  
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      overflow: hidden;
    
      &:hover,
      &:focus {
        box-shadow: 
          inset -3.5em 0 0 0 $color-white,   
          inset 3.5em 0 0 0 $color-white;    
        color: $color-black;  
        background-color: $color-white;  
        border-color: $color-white;
      }
      
      &:active {
        transform: scale(0.95);
      }
    }

    &__button-submit {
      position: relative;
      display: inline-block;
      padding: 12px 27px;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $color-black;
      background: $color-white;
      border: 0;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      position: relative;
      z-index: 1;

      &:hover {
        color: $color-black;
      }

      span {
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: $color-yellow;
        transform: translateY(150%);
        border-radius: 50%;
        transition: 0.5s;
        z-index: -1;
      }

      span:nth-child(1) {
        left: 0;
        transition-delay: 0.1s;
      }

      span:nth-child(2) {
        left: 25%;
        transition-delay: 0.2s;
      }

      span:nth-child(3) {
        left: 50%;
        transition-delay: 0.3s;
      }

      span:nth-child(4) {
        left: 75%;
        transition-delay: 0.4s;
      }

      &:hover span {
        transform: translateY(0) scale(2);
      }
    }

    &__image-container{
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.6rem;

      img{
        animation: slideInBlurredRight 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        background-color: $color-white;
        width: 25vh;
        height: 25vh;
        border-radius: 50%;
        border: 6px solid $color-white;
      }
      
      &__label {
          color: $color-black;
          background-color: $color-white;
          padding: 6px 20px;
          cursor: pointer;
          transition: all 0.2s ease;
          border: 1px $color-black solid;
          &:hover {
            letter-spacing: 0.1rem;
          }
      }

      input{
        display: none;
      }

    }

    & input {
      background-color: $color-white-smoke;
      animation: fallWithRebound 1.5s both;
      border-radius: 0.5rem;
      border: none;
      padding: 1rem;
      width: 40%;
      transition: all 0.3s ease;
      outline: 0;
      @media only screen and (max-width: $max-width) {
        width:60%;
        font-size: 90%;
      }

      &:focus {
        outline: 3px $color-green-dark solid;
      }

      &::placeholder {
        font-size:95%;
        color:$color-black;
        text-transform: uppercase;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
    }
  }

  &__form-error {
    animation: shake-animation 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
   align-self: flex-start;
   margin-left: 5vw;
  }

  &__message{
    animation: scaleInCenter 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    font-weight: 400;
    font-size:1.1rem;
    text-decoration: underline;
  }
}