$image-border-radius: 8px;
//Variable de estilo.
.tocho {
    padding: 20px;
    background-color: $color-white-dark;

    .tocho-section {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        border-bottom: 1px solid $color-gray-light; // Uso del color claro definido
        padding-bottom: 20px;

        &--reverse {
            flex-direction: row-reverse;
        }

        &__text {
            flex: 1;
            padding: 0 20px;

            h2 {
                font-size: 1.8rem;
                color: $green-color;
                margin-bottom: 10px;
            }

            p {
                font-size: 1rem;
                color: $color-gray-dark;
                line-height: 1.6;
            }
        }

        &__image {
            flex: 1;
            text-align: center;
            padding: 10px;

            img {
                max-width: 100%;
                height: auto;
                border-radius: $image-border-radius;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    // Diseño responsivo para pantallas más pequeñas
    @media (max-width: 768px) {
        .tocho-section {
            flex-direction: column;

            &--reverse {
                flex-direction: column;
            }

            &__text {
                padding: 10px;
                text-align: center;

                h2 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 0.95rem;
                }
            }

            &__image {
                padding: 5px;

                img {
                    max-width: 90%;
                }
            }
        }
    }
}
